/* font-family: 'Alkatra', cursive;
font-family: 'Fira Sans', sans-serif;
font-family: 'Fira Sans Condensed', sans-serif;
*/

:root {
    /* fonts */
    --acn-title-font: 'Alkatra', cursive;
    --acn-subtitle-font: 'Fira Sans', sans-serif;
    --acn-heading-font: 'Alkatra', cursive;

     /* colors */
     --acn-primary-color: rgba(41, 179, 173, 1);
     --acn-secondary-color: rgba(61, 210, 204, 1);
     --acn-dark-color: rgba(17, 17, 17, 1);
     --acn-light-color:  rgba(102, 220, 215, 1);
     --acn-bootstrap-info--emphasis-color: rgba(9, 84, 99, 1); 
     --acn-logo: rgba(33, 248, 246, 1);
     --acn-dk-red: rgba(173,2,2,1);
     --acn-white:  rgba(255, 255, 255, 1);
     --acn-light-gray:  rgba(221, 221, 221, 1);
     --acn-dk-gray:  rgba(60, 71, 75, 1);

     /* text styles */
     --acn-font-size: 1.5rem;
     --acn-font-weight: 400;
     --acn-line-height: 1.5rem;
}

/*Start Sticky Footer*/
html,
body {
    background-color: var(--acn-white);
    height: 100%;
}

body {
    display: flex;
    /*d-flex*/
    flex-direction: column;
    /*flex-column*/

  font-family: 'Fira Sans Condensed', sans-serif !important;
  font-family: var(acn-font-size);
  font-family: var(acn-font-weight);
  font-family: var(acn-line-height);
  font-family: var(--acn-dark-color);
  font-family: var(--acn-background-color);
}

main {
    flex-grow: 1;
}

footer {
    flex-shrink: 0;
}
/*End Sticky Footer*/

#mainNav {
    background: var(--acn-dark-color);
}

.navbar-toggler {
    font-size: 1.5rem;
    border: 4px solid var(--acn-white);
    background-color: var(--acn-blk)!important;
    color: var(--acn-white);
}

.navbar-toggler:focus {
    font-size: 1.25rem;
    color: var(--acn-light-white)!important;
    border: 4px solid var(--acn-light-white)!important;
}

.nav-item .nav-link {
    color: var(--acn-logo) !important;
}

.nav-item .nav-link:hover {
    font-size: 1.5rem!important;
    font-weight: 600;
    color: var(--acn-white) !important;
    border-bottom: 4px solid var(--acn-logo) !important;
}

#index-title {
    font-family: 'Alkatra', cursive;
    text-shadow: 2px 2px 3px var(--acn-logo);
}

#app-title {
    font-family: 'Alkatra', cursive;
}

#code-title {
    font-family: 'Alkatra', cursive;
    color: var(--acn-dark-color);
    text-shadow: 1px 1px 2px var(--acn-dk-red);
}

#write-up-txt {
    color: var(--acn-dk-red)!important;
}

#instructions {
    font-family: 'Alkatra', cursive;
}

.checklist {
    list-style-type: none;
}

.checklist>li i {
    color: var(--acn-dk-red); 
    padding-right: .5rem;
}

.devIcons {
    font-size: 3rem;
    padding: .5rem;
}

#js-icon {
    color: var(--acn-dk-gray);
}

#css-icon {
    color: var(--acn-dk-red);
}

.try-btn {
    color: var(--acn-dark-color);
    border: 4px solid var(--acn-dark-color) !important;
    background-color: var(--acn-logo);
}

.try-btn:hover {
    font-weight: 900!important;
    color: var(--acn-dk-red);
    border: 6px solid var(--acn-dk-red) !important;
}   

.dropdown-btn {
    color: var(--acn-dk-red);
    font-weight: 600!important;
    border: 4px solid var(--acn-dk-red) !important;
    padding: auto;
    font-size: 1.25rem;
    border-radius: 8px !important;
    width: 250px!important;
    height: 50px!important;
}

.dropdown-btn:hover {
    font-weight: 800!important;
    color: var(--acn-dark-color);
    border: 6px solid var(--acn-dk-red) !important;
}

.app-btn {
    color: var(--acn-dk-red);
    font-weight: 600!important;
    border: 4px solid var(--acn-dk-red) !important;
    padding: auto;
    font-size: 1.25rem;
    border-radius: 8px !important;
    width: 150px!important;
    height: 50px!important;
}

.app-btn:hover {
    font-weight: 800!important;
    color: var(--acn-dark-color);
    border: 6px solid var(--acn-dk-red) !important;
}

#app-logo-img {
    border: 8px solid var(--acn-dk-red);
    max-width: 350px;
    border-radius: 30px;
}

#app-logo-img-pg2 {
    border: 8px solid var(--acn-dk-red);
    margin-left: auto!important;
    margin-right: auto!important;
    max-width: 350px;
    border-radius: 30px;
}

td {
   font-size: 1.15rem;
   font-weight: 600;
}

footer {
    background: var(--acn-dark-color);
    color: var(--acn-light-color);
}

footer .bi {
    color: var(--acn-light-color); 
    font-size: 2rem;
    padding: .5rem;
    transition: color .25s ease;
}

footer .bi:hover {
    color: var(--acn-white);
    font-size: 1.5rem!important;
    border: 4px solid var(--acn-white) !important;
    border-radius: 8px;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #app-logo-img {
        max-width: 400px;
    }

    #app-logo-img-pg2 {
        max-width: 400px;
    }

    
}

/* Large devices (tablets, 992px and up) */
@media (min-width: 992px) {
    

}

/* XX-large devices (tablets, 1400px and up) */
@media (min-width: 1400px) {
   

}
